input[type='text'] {
  color: white;
  display: block;
  background-color: #1A344D;
  border: 1px solid #4988B2;
  width: 100%;
  height: 40px;
}

input[type='submit'] {
  color: white;
  background-color: #3DA600;
  border: 1px solid #3DA600;
  width: 215px;
  height: 50px;
}

.form-row {
  margin-top: 20px;
}

.registration-from {
  padding: 50px;
}
