<div class="flex-container-row registration-from">
  <div class="flex-element-4">
    <div class="flex-container-column">
      <div class="flex-element-1">
        <div class="photo" (click)="getVideoStream()">
          <video #camera width="320" height="220"></video>
        </div>
      </div>
      <div class="flex-element-1">
        <button (click)="takePhoto()">Снять</button>
      </div>
      <div class="flex-element-1">
        <div style="position: relative">
          <canvas #canvas width="640" height="480"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-element-6">
    <form [formGroup]="registration" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <label> Фамилия
          <input type="text" formControlName="lastname">
        </label>
      </div>
      <div class="form-row">
        <label> Имя
          <input type="text" formControlName="firstname">
        </label>
      </div>
      <div class="form-row">
        <label> Отчество
          <input type="text" formControlName="midname">
        </label>
      </div>
      <div class="form-row">
        <label> Компания
          <input type="text" formControlName="company">
        </label>
      </div>
      <div class="form-row">
        <label> Должность
          <input type="text" formControlName="post">
        </label>
      </div>
      <div class="form-row">
        <input type="submit" value="ДОБАВИТЬ">
      </div>
    </form>
  </div>
</div>
